#CircularBar {
    width: 128px;
    height: 128px;
    flex-shrink: 0;
}

#CircularBar__bg {
    width: 100%;
    height: 100%;
    background-image: url("project://database/Assets/CircularBar/CircularBar__bg.png?fileID=2800000&guid=3eaa2fcf8a9767444a328ad875665c31&type=3#CircularBar__bg");
    position: absolute;
}

#CircularBar__bar {
    width: 100%;
    height: 100%;
    -unity-background-image-tint-color: rgb(149, 149, 149);
}
