#1 #OrbBar__bar {
    -unity-background-image-tint-color: rgb(61, 219, 117);
}

#1 #OrbBar__bg {
    -unity-background-image-tint-color: rgb(4, 19, 3);
}

#1 #Text {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px rgb(13, 46, 25);
    -unity-text-outline-color: rgba(0, 0, 0, 0);
    -unity-text-outline-width: 1px;
}

#2 #OrbBar__bar {
    -unity-background-image-tint-color: rgb(121, 103, 226);
}

#2 #OrbBar__bg {
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-image: url("project://database/Assets/OrbBar/OrbBar__bg.png?fileID=2800000&guid=6e0e200a46e69e845b1845d64ad5300f&type=3#OrbBar__bg");
}

#3 #OrbBar__bar {
    -unity-background-image-tint-color: rgb(245, 7, 0);
}

#3 #OrbBar__bg {
    background-image: url("project://database/Assets/OrbBar/OrbBar__bg2.png?fileID=2800000&guid=4a98c826e5ce94c40b6f9f64cca00bab&type=3#OrbBar__bg2");
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

#3 #Text {
    display: none;
}

Label {
    font-size: 42px;
}

.container {
    align-items: center;
    padding-bottom: 22px;
}
